<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Anmeldung JuFe</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/anmeldung.css}">
    <th:block th:replace="~{fragments/footer.html :: head}"></th:block>
</head>
<body>
<div th:replace="~{fragments/message :: #message}"></div>
<div class="content py-4">
    <form action="#" class="d-flex flex-column align-items-center" method="post" th:action="@{/anmeldung}" th:object="${anmeldung}">
        <h2 th:text="'Anmeldung ' + ${anmeldung.event.name}"></h2>
        <input hidden th:field="*{event}" th:value="${anmeldung.event.id}" type="">
        <div class=" flex-shrink-1">
            <!--                    <div class="d-lg-flex">-->
            <div class="card p-4 mb-4 flex-grow-1">
                <h3 class="card-title">Kontakt</h3>
                <div class="card-body">
                    <div class="form-group pt-1">
                        <label for="vorname">Vorname</label>
                        <input class="form-control" id="vorname" required th:field="*{vorname}" type="text">
                    </div>

                    <div class="form-group pt-1">
                        <label for="nachname">Nachname</label>
                        <input class="form-control" id="nachname" required th:field="*{nachname}" type="text">
                    </div>

                    <div class="form-group pt-1">
                        <label for="email">E-Mail Adresse</label>
                        <input class="form-control" id="email" required th:field="*{mail}" type="email">
                    </div>
                </div>
            </div>

            <div class="card p-4 mb-4 flex-grow-1">
                <h3 class="card-title">Adresse</h3>
                <div class="card-body">
                    <div class="form-group pt-1">
                        <label for="strasse">Straße</label>
                        <input class="form-control" id="strasse" required th:field="*{adresse.strasse}" type="text">
                    </div>
                    <div class="form-group pt-1">
                        <label for="hausnummer">Hausnummer</label>
                        <input class="form-control" id="hausnummer" required th:field="*{adresse.hausnummer}" type="text">
                    </div>

                    <div class="form-group pt-1">
                        <label for="plz">PLZ</label>
                        <input class="form-control" id="plz" required th:field="*{adresse.plz}" type="text">
                    </div>

                    <div class="form-group pt-1">
                        <label for="stadt">Stadt</label>
                        <input class="form-control" id="stadt" required th:field="*{adresse.stadt}" type="text">
                    </div>

                </div>
            </div>
            <!--                    </div>-->
            <!--                    <div class="d-lg-flex">-->
            <div class="card p-4 mb-4 flex-grow-1">
                <h3 class="card-title">Deine Gemeinde</h3>
                <div class="card-body">
                    <div class="form-group pt-1">
                        <label for="kirchenbezirk">Kirchenbezirk</label>
                        <select class="form-control" id="kirchenbezirk" required th:field="*{bezirk}">
                            <option disabled value="">Bitte Auswählen</option>
                            <option th:each="kirchenbezirkOption : ${T(org.jufe.anmeldetool.entity.anmeldung.Kirchenbezirk).values()}"
                                    th:text="${kirchenbezirkOption.displayValue}"
                                    th:value="${kirchenbezirkOption}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group pt-1">
                        <label for="gemeinde">Gemeinde</label>
                        <input class="form-control" id="gemeinde" th:field="*{gemeinde}" type="text">
                    </div>
                </div>
            </div>
            <div class="card p-4 mb-4 flex-grow-1">
                <h3 class="card-title">Persönliche Angaben</h3>
                <div class="card-body">
                    <div class="form-group pt-1">
                        <label for="geburtstag">Geburtstag</label>
                        <input class="form-control" id="geburtstag" required th:field="*{geburtstag}" type="date">
                    </div>
                    <div class="form-group pt-1">
                        <label for="geschlecht">Geschlecht</label>
                        <select class="form-control" id="geschlecht" required th:field="*{geschlecht}">
                            <option th:each="geschlechtOption : ${T(org.jufe.anmeldetool.entity.anmeldung.Geschlecht).values()}"
                                    th:text="${geschlechtOption.displayValue}"
                                    th:value="${geschlechtOption}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <!--                    </div>-->
            <!--                    <div class="d-md-flex">-->
            <div class="card p-4 mb-4 flex-grow-1">
                <h3 class="card-title">Zusätzliche Infos</h3>
                <div class="card-body">
                    <div class="form-group pt-1">
                        <label for="isst">Du Isst</label>
                        <select class="form-control" id="isst" required th:field="*{isst}">
                            <option th:each="essOption : ${T(org.jufe.anmeldetool.entity.anmeldung.Isst).values()}"
                                    th:text="${essOption.displayValue}"
                                    th:value="${essOption}">
                            </option>
                        </select>
                    </div>
                    <div class="form-check form-group pt-1">
                        <input class="form-check-input" id="schwimmer" th:field="*{schwimmer}" type="checkbox">
                        <label class="form-check-label" for="schwimmer">Schwimmer</label>
                    </div>
                    <div class="form-group">
                        <label for="anmerkung">Anmerkung</label>
                        <input class="form-control" id="anmerkung" th:field="*{anmerkung}" type="text">
                    </div>
                </div>
            </div>
            <div class="card p-4 mb-4 flex-grow-1">
                <h3 class="card-title">Für Erziehungsberechtige</h3>
                <div class="card-body">
                    <div class="form-group" id="evk-div">
                        <label for="evk">Einverständnis-Erklärung (PDF)</label>
                        <input accept=".pdf,.png" class="form-control" id="evk" th:field="*{einverstaendnisErklaerung}" type="file">
                    </div>

                    <div class="form-group">
                        <label for="notfallkontakt">Name Notfallkontakt</label>
                        <input class="form-control" id="notfallkontakt" th:field="*{nameNotfallkontakt}" type="text">
                    </div>

                    <div class="form-group">
                        <label for="nummerNotfallkontakt">Notfallkontakt Nummer</label>
                        <input class="form-control" id="nummerNotfallkontakt" th:field="*{nummerNotfallkontakt}" type="tel">
                    </div>
                </div>
            </div>
            <!--                    </div>-->
            <button class="btn btn-primary" type="submit">Anmelden</button>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer.html :: footer}"></div>

<!-- Bootstrap JS libraries -->
<script th:src="@{/webjars/jquery/3.7.1/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.11.7/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.min.js}"></script>

<script th:inline="javascript">
    var von = new Date([[${event.von}]]);
    var lastBirthday = new Date(von.getFullYear() - 18 , von.getMonth(), von.getDate(), 23, 59, 59); // hasse javascript :)
    $("document").ready(() => {
        $("#geburtstag").blur(() => {
            if(new Date( $("#geburtstag").val() ) <= lastBirthday) {
                $("#evk-div").hide();
            } else {
                $("#evk-div").show();
            }
        });
    });
</script>
</body>
</html>